<style>
  .group-bg {
    background-color: #eee;
    border-color: #b8babc;
    color: #000;
  }

  .column {
    float: left;
    width: 50%;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .column-sm {
    float: left;
    width: 30%;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .is-invalid {
    color: red;
  }
</style>
<div class="body-content" *ngIf="expenseData">
  <div class="row">
    <div class="col-sm-6">
      <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start group-bg">
          <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1">
              Dashboard
              <div style="float: right">
                <button type="button" class="btn btn-warning" style="background-color:#ff652f;" data-toggle="modal" data-target="#basicExampleModal">
                  Add an expense
                </button>
                <a class="btn btn-warning" style="background-color:#5bc5a7;" data-toggle="modal" data-target="#basicExampleModal1">Settle up</a>
              </div>
            </h2>
          </div>
          <div style="float: left;padding: 5px;">
            <h5 style="color:#999;">Total Balance</h5>
            <h6 style="color:#5bc5a7;">{{expenseData[0]?.currency}} {{lentTotal}} </h6>
          </div>
          <div style="float: left;padding: 5px; padding-left: 164px;padding-right: 174px;">
            <h5 style="color:#999;">You owe</h5>
            <h6 style="color:firebrick;">{{expenseData[0]?.currency}} {{paidTotal}}</h6>
          </div>
          <div style="padding: 5px;">
            <h5 style="color:#999;">You are owed</h5>
            <h6 style="color:#5bc5a7;">{{expenseData[0]?.currency}} {{lentTotal}}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6" >
        <div class="col-sm-6">
          <h5 style="color:#999;text-align: center;">YOU OWE</h5>
          <div *ngFor="let owe of oweData">
            <div class="alert alert-warning" *ngIf="owe.amount != 0">
              <strong>{{owe.from}}</strong> lent you <a href="#" class="alert-link">{{owe.amount | number : '.2-2'}}</a>.
            </div>
          </div>
          <div *ngIf="(owedData | json) != ({} && json)">
            <div class="alert">
              You do not owe anything
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h5 style="color:#999;text-align: center;">YOU ARE OWED</h5>
          <div *ngFor="let paid of paidData">
            <div class="alert alert-success" *ngIf="paid.amount != 0">
              <strong>{{paid.from}}</strong> get back <a href="#" class="alert-link">{{paid.amount | number : '.2-2'}}</a>.
            </div>
          </div>
          <div *ngIf="(paidData | json) == ({} && json)">
            <div class="alert">
              You do not owe anything
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
<form [formGroup]="addExpenseForm" (ngSubmit)="OnSubmitAddExpense()">
  <!-- Modal -->
  <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 70%;">
        <div class="modal-header" style="background-color:#5bc5a7">
          <h3 class="modal-title" style="float:left" id="exampleModalLabel">Add an expense</h3>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            With <strong>You</strong> and :
            <select class="form-control" formControlName="Users" [ngClass]="{'is-invalid': displayMessage.Users}" required>
              <option *ngFor="let user of users" [value]="user.userId">{{user.userName}}</option>
            </select>
            <span class="invalid-feedback">
              {{displayMessage.Users}}
            </span>
          </div>
          <hr />
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter a description" formControlName="ExpenseName" [ngClass]="{'is-invalid': displayMessage.ExpenseName}" required />
          </div>
          <div class="form-group" *ngIf="currencyData">
            <div class="row">
              <div class="column">
                <select class="form-control" formControlName="Currency" [ngClass]="{'is-invalid': displayMessage.Currency}" required>
                  <option *ngFor="let cur of currencyData" [value]="cur.currencyName">{{cur.currencyName}}</option>
                </select>
                <span class="invalid-feedback">
                  {{displayMessage.Currency}}
                </span>
              </div>
              <div class="column">
                <input type="text" class="form-control" placeholder="0.00" formControlName="ExpenseAmount" [ngClass]="{'is-invalid': displayMessage.ExpenseAmount}" required />
                <span class="invalid-feedback">
                  {{displayMessage.ExpenseAmount}}
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="column">
                Paid by
                <select class="form-control" formControlName="PaidBy" [ngClass]="{'is-invalid': displayMessage.PaidBy}" required>
                  <option [selected]="true" [value]="userId">{{userName}}</option>
                  <option *ngFor="let user of users" [value]="user.userId">{{user.userName}}</option>
                </select>
                <span class="invalid-feedback">
                  {{displayMessage.PaidBy}}
                </span>
              </div>
              <div class="column">
                and split
                <select class="form-control" formControlName="SplitType" [(ngModel)]="SplitType" [ngClass]="{'is-invalid': displayMessage.SplitType}" required id="change">
                  <option *ngFor="let type of splitTypeData" [attr.selected]="type.typeId == 1 ? true : null" [value]="type.typeName">{{type.typeName}}</option>
                </select>
                <span class="invalid-feedback">
                  {{displayMessage.SplitType}}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="allGroupData">
            <div class="row">
              <div class="column">
                <input type="date" id="date" class="form-control" formControlName="ExpenseDate" [ngClass]="{'is-invalid': displayMessage.ExpenseDate}" required />
                <span class="invalid-feedback">
                  {{displayMessage.ExpenseDate}}
                </span>
              </div>
              <div class="column">
                <select class="form-control" formControlName="GroupId" [ngClass]="{'is-invalid': displayMessage.GroupId}" required>
                  <option [value]="0">Non-group expenses</option>
                  <option *ngFor="let all of allGroupData" [ngValue]="all.groupId">{{all.groupName}}</option>
                </select>
                <span class="invalid-feedback">
                  {{displayMessage.GroupId}}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Add notes" formControlName="Notes" [ngClass]="{'is-invalid': displayMessage.Notes}" required />
            <span class="invalid-feedback">
              {{displayMessage.Notes}}
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- settle up -->
<form [formGroup]="addSettleUpForm" (ngSubmit)="OnSubmitAddSettleUp()">
  <!-- Modal -->
  <div class="modal fade" id="basicExampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 70%;">
        <div class="modal-header" style="background-color:#5bc5a7">
          <h3 class="modal-title" style="float:left" id="exampleModalLabel">Add an settle up</h3>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            With <strong>You</strong> paid to :
            <select class="form-control" formControlName="Users" [ngClass]="{'is-invalid': displayMessage.Users}" required>
              <option *ngFor="let user of users" [value]="user.userId">{{user.userName}}</option>
            </select>
            <span class="invalid-feedback">
              {{displayMessage.Users}}
            </span>
          </div>
          <hr />
          <div class="form-group" *ngIf="currencyData">
            <div class="row">
              <div class="column">
                <select class="form-control" formControlName="Currency" [ngClass]="{'is-invalid': displayMessage.Currency}" required>
                  <option *ngFor="let cur of currencyData" [value]="cur.currencyName">{{cur.currencyName}}</option>
                </select>
                <span class="invalid-feedback">
                  {{displayMessage.Currency}}
                </span>
              </div>
              <div class="column">
                <input type="text" class="form-control" placeholder="0.00" formControlName="ExpenseAmount" [ngClass]="{'is-invalid': displayMessage.ExpenseAmount}" required />
                <span class="invalid-feedback">
                  {{displayMessage.ExpenseAmount}}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="allGroupData">
            <div class="row">
              <div class="column">
                <input type="date" id="date" class="form-control" formControlName="ExpenseDate" [ngClass]="{'is-invalid': displayMessage.ExpenseDate}" required />
                <span class="invalid-feedback">
                  {{displayMessage.ExpenseDate}}
                </span>
              </div>
              <div class="column">
                <select class="form-control" formControlName="GroupId" [ngClass]="{'is-invalid': displayMessage.GroupId}" required>
                  <option [value]="0">Non-group expenses</option>
                  <option *ngFor="let all of allGroupData" [ngValue]="all.groupId">{{all.groupName}}</option>
                </select>
                <span class="invalid-feedback">
                  {{displayMessage.GroupId}}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Add notes" formControlName="Notes" [ngClass]="{'is-invalid': displayMessage.Notes}" required />
            <span class="invalid-feedback">
              {{displayMessage.Notes}}
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>

